*.o
*.a

# blockmanager
algorithm/blockmanager/**
!algorithm/blockmanager/BM.h
!algorithm/blockmanager/BM_Block.c
!algorithm/blockmanager/BM_Heap.c
!algorithm/blockmanager/BM_Queue.c
!algorithm/blockmanager/BM_Interface.c
!algorithm/blockmanager/BM_Main.c
!algorithm/blockmanager/Makefile
!algorithm/blockmanager/Makefile_test

algorithm/blockmanager_jiho/
blockmanager_BeforeRefactoring/
blockmanager_6.2/
blockmanager_7.1/
blockmanager_dirt_trash/
macro.sh
algorithm/practice

algorithm/bftl/**
!algorithm/bftl/block.c
#!algorithm/bftl/block_queue.c
#!algorithm/bftl/block_queue.h
!algorithm/bftl/block.h
!algorithm/bftl/block_utils.c
!algorithm/bftl/block_utils.h
!algorithm/bftl/block_gc.c
!algorithm/bftl/block_gc.h
!algorithm/bftl/Makefile

algorithm/bftl_jiho/
algorithm/bftl_nosegment/
algorithm/bftl_old_bftl/
algorithm/bftl_Largepage/
			

#blockmanager/libbm.a
#blockmanager/memset.c
#blockmanager/test.c
#blockmanager/bm
#blockmanager/comp.sh
#blockmanager/*.o
#blockmanager/*.a

currsetting.c
result
simulator
simulator_memory_check
duma_*
data/
object/
data/
tags
*log
.
*log
