*.o
*.a

# blockmanager
blockmanager/**
!blockmanager/BM_Block.c
!blockmanager/BM_Block.h
!blockmanager/BM_common.h
!blockmanager/BM_Heap.c
!blockmanager/BM_Heap.h
!blockmanager/BM_Interface.c
!blockmanager/BM_Interface.h
!blockmanager/BM_Main.c
!blockmanager/Makefile
!blockmanager/Makefile_test
!blockmanager/YouHaveToDo.txt
!blockmanager/Makefile_changed.png


blockmanager_6.2/
blockmanager_7.1/
blockmanager_dirt_trash/
macro.sh
algorithm/practice

algorithm/block/**
!algorithm/block/block.c
!algorithm/block/block2.c
!algorithm/block/block_linearsearch.c
!algorithm/block/block_queue.c
!algorithm/block/block_queue.h
!algorithm/block/block_withBM.c
!algorithm/block/block.h
!algorithm/block/Makefile
			
#blockmanager/libbm.a
#blockmanager/memset.c
#blockmanager/test.c
#blockmanager/bm
#blockmanager/comp.sh
#blockmanager/*.o
#blockmanager/*.a

simulator
simulator_memory_check
data/
object/
tags
*log
.
*log
